@model AGH.User

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:1rem; margin-bottom:4rem">Delete user</h2>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.User_First_Name) @Html.DisplayFor(model => model.User_Last_Name)?</h3>
<br />
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ActionLink("Back to List", "UsersList", null, new { @class = "btn btn-default" })
            @*@Html.ActionLink("Delete", "DeleteConfirmed", null, new { @class = "btn btn-danger" })*@
            <input type="submit" value="Delete" class="btn btn-danger" style="margin:1rem" />
        </div>
    }
</div>