<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>
            The following error has occured: 
        </h2>
        <h3 style="color: red">
            @if (ViewBag.ErrorMessage != null)
            {
                    @ViewBag.ErrorMessage
            }
        </h3>
    </hgroup>
</body>
</html>
